.board {
  padding: 1vh;

  margin-top: 3vh;
  border-radius: 12px;
  box-shadow: 0 0 3px 3px #e9e7e7;
  width: calc(100vh * 0.9);
  height: calc(100vh * 0.85);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #1d1d1f;
}
